*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  box-sizing: border-box;
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  overflow: hidden;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  align-self: start;
  padding: 0;
  padding-bottom: 5px;
  height: 27px;
  color: #fff;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin-bottom: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", "sans-serif"; 
  font-weight: 400; 
  font-size: 18px; 
  font-style: normal; 
  line-height: normal; 
  color: #fff;
  min-width: 226px;
  height: 27px;
  border: none;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 2.5px 14px 2.5px 0;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: solid 1px #fff;
  padding: 1px;
  background-color: transparent;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(input[type="checkbox"]):hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 26px;
}

.title {
  color: #fff;
  font-family: "Oswald", "sans-serif";
  font-weight: bold;
  font-size: 75px;
  font-style: normal;
  line-height: 0.9334;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-description-container {
  padding-left: 2px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-grow: 1;
}

.content__video-card-title {
  margin-top: -2px;
  color: #fff;
  font-family: "Oswald", "sans-serif";
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  color: #fff;
  margin-top: 3px;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card {
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: fill;
  object-position: center;
}

.button {
  min-height: 34px;
  border: solid 1px #fff;
  padding: 0;
  color: #fff;
  font-family: "Fira Sans Condensed", "sans-serif";
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: solid 1px #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.search-form__submit-button {
  justify-self: end;
  align-self: end;
  margin-bottom: 5px;
  width: 194px;
}

.more-button {
  width: 100%;
}
